<% layout("layout/boilerplate.ejs") %>
<body>
  <h3 class="text-center mb-3"><%= listing.title %></h3>
  <div class="card w-50 offset-3 mb-5" style="width: 18rem">
    <img src="<%= listing.image%>" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        <!-- <div><b></b></div> -->
        <div><%= listing.description %></div>
        <div>Rs. : <%= listing.price.toLocaleString("en-PK") %></div>
        <div><%= listing.location %></div>
        <div><%= listing.country %></div>
      </p>
      <div class="d-flex flex-row justify-content-between">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark px-4">Edit</a>
        <form
          action="/listings/<%= listing._id %>/delete?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</body>